<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <style>
            div {
                /*border  : 1px solid red ;*/
            }
            body {
                padding        : 0;
                margin        : 0;
                background-color: darkslategrey;
            }
            #result {
                float       : none;
                width        : 100%;
                padding        : 5px;
                text-align    : center;
            }
            #button-container {
                margin : 10px;
                height : 200px;
                float : left;
                background-color : darkslateblue;
            }
            #robot-view {
                margin : 10px; 
                width       : 296px;;
                height      : 246px;
                float       : left;
                border : 2px inset slateblue; 
                }
            #robot-view-image {
                width       : 100%;
                height      : 100%;
                object-fit  : cover;
            }
            #joystick-container {
                margin : 10px;
                width        : 250px;
                height        : 250px;
                float       : right;
                background-color : slategray;
                -webkit-user-select    : none;
                -moz-user-select    : none;
            }
            #clear{
                clear       :both ;    
                }
        </style>
    </head>
    <body>
        <div id="button-container"></div>
        <div id="robot-view">
            <div>
                <img id="robot-view-image" src="{{ url_for('video_feed') }}">
            </div>
        </div>
        <div id="joystick-container"></div>
        <div id="clear"></div>
        <!--<script src="/static/virtualjoystick.js"></script>-->
        <script src="{{ url_for('static', filename='virtualjoystick.js') }}">

        </script>
        <script>
            console.log("touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");
    
            var joystick    = new VirtualJoystick({
                container    : document.getElementById('joystick-container'),
                mouseSupport    : true,
                limitStickTravel : true,
                stickRadius : 80,
                
            });

            let currentX = 0;
            let currentY = 0; 
            let lastUpdateTime = 0;

            setInterval(function(){
                var outputEl    = document.getElementById('result');
                var dx = Math.round((joystick.deltaX() * 100) / 80);
                var dy = Math.round((joystick.deltaY() * 100) / 80);

                if ( (dx != currentX) || (dy || currentY) )
                {
                    console.log("dx=" +dx+ ", dy="+dy);
                    lastUpdateTime = Date.now()
                    currentX = dx;
                    currentY = dy;
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "/postJoystickXY", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); 
                    xhttp.send("x="+dx+"&y="+dy);
                }
                
                // Send heartbeats whilst idle to let server know we're still here. 
                if ( Date.now() - lastUpdateTime > 500 ) 
                {
                    lastUpdateTime = Date.now(); 
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST","/heartbeat", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); 
                    xhttp.send("");
                } 
                    
            }, 50);


            
        </script>
    </body>
</html>
